@import './variables';

// Add parameters to this that we can change
// Display flex and writing one line of code can become extremely helpful for lengthy projects
@mixin flexCenter($direction) {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: $direction;
    
}

// Add an extension in which will inherit all of the styles from the selected item you want to add in
h2 {
    @extend header;


}

header {
    text-shadow: papayawhip;
    font-style: unset;
}
    

.container {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: hs1(var(--hue), 100%, 200%);
}

#main {
    @include flexCenter(column); 
    justify-content: center;
    background-color: wheat;
    height: 50vh;
    align-items: center;
}

// Nesting and separating files with partials are all included with SASS
 .startBtn {
     &:hover {
         color: black;
     }
    }

         





// To create a variable with JavaScript and have it work with SASS
// Created a separate button for the two quizzes

// Use that variable to change all second quiz buttons

// Can nest different things

