$secondButton : blue;

header {
    background: red;
}
    

.container {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: hs1(var(--hue), 100%, 200%);
}

#main {
    display: flex;
    justify-content: center;
    background-color: wheat;
}

// To create a variable with JavaScript and have it work with SASS
// Created a separate button for the two quizzes

// Use that variable to change all second quiz buttons

// Can nest different things

