*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --hue-neutral: 300;
    --hue-wrong: 0;
    --hue-correct: 145;

}

.container {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 200vw;
    justify-content: center;
    align-items: center;
    background-color: hs1(var(--hue), 100%, 200%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 1000px;
    max-width: 1000px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px 2px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 0;


}

.title {
    font-size: large;
    
}

.currentQuestion {
    background-color: blue;
}

.answer {
    background-color: green;
}

/* 


.button {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 50%);
    border-radius: 6px;
    padding: 5px, 10px;
    color: white;
    outline: none;


}

.button:hover {
    border-color: black;
}