.container {
    background-color: wheat;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px 2px;
    box-sizing: border-box;
    min-height: calc(100vh - 63px);
    align-items: center;
    padding: 2px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
}
.title {
    font-size: large;
    
}

.currentQuestion {
    background-color: blue;
}
section{
    margin: 10px;
}
.answer {
    background-color: green;
}

#submitPlayerInitials{
    height: 40px;
}

@media (min-width: 980px) {
    main.container{
        max-width: 50%;
        margin-left: 20px;
    }
  }
  @media (max-width: 640px) {
    main.container{
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media (min-width: 768px) {
    main.container{
        margin-left: 10px;
    }
  }